.cell {
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  position: relative;

  &__field {
    padding: 0;
    border: 0;
    text-align: center;
    width: 4em;
    height: 4em;
    font-size: 24px;
    background-color: #ffffff;
    outline: none;
    text-transform: uppercase;
    transition: all 0.5s;

    //hide blinking cursor
    color: transparent;
    text-shadow: 0 0 0 black;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:read-only {
      color: gray;
    }

    &:focus:not(:read-only) {
      outline: 2px solid turquoise;
    }

    @media screen and (min-width: 768px) {
      width: 3em;
      height: 3em;
    }

    @media screen and (min-width: 1000px) {
      width: 2em;
      height: 2em;
    }
  }

  .notes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: calc(100% / 3);
      text-align: center;
      line-height: 1.25em;

      &:after {
        content: attr(data-number);
        cursor: pointer;
        font-size: 12px;
        color: lightgray;
        font-weight: 300;
        font-family: 'Open Sans';
      }

      &:checked:after {
        color: #111;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &:nth-child(3n) {
    border-right: 2px solid gray;
  }

  &:nth-child(3n + 1) {
    border-left: 2px solid gray;
  }

  &.hasError .cell__field {
    color: red;
    border: 1px dotted red;
    background: rgba(255, 0, 0, 0.2);
    &:focus {
      outline: none;
    }
  }
}
